/* html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.command::before{
    content: "";
        height: 0.0625rem;
        -ms-flex: 1 1;
        flex: 1 1;
        background: #d6cece;
}

.command::after {
    content: "";
    height: 0.0625rem;
    -ms-flex: 1 1;
    flex: 1 1;
    background: #d6cece;
}


.container {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}


.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
.overlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: #fff;
}
.overlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
   
}
.container:hover .overlay,.container:hover .overlayFade {
    opacity: .8;
}

.shadow1{
    webkit-box-shadow: 0 -1px 3px 1px rgba(0,0,0,.1);
    box-shadow: 0 -1px 3px 1px rgba(0,0,0,.1); 
}

.font{
        font-family: Helvetica Neue LT Condensed,Avenir Next Condensed Medium,Helvetica,Arial,sans-serif;
    }